<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hyak.Common" version="1.1.1" targetFramework="net45" />
  <package id="Microsoft.Azure.Common" version="2.1.1" targetFramework="net45" />
  <package id="Microsoft.Azure.Common.Authentication" version="1.7.0-preview" targetFramework="net45" />
  <package id="Microsoft.Azure.Management.Automation" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.18.206251556" targetFramework="net45" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.0.1" targetFramework="net45" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="2.0.1-preview" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net45" />
  <package id="System.Xml.Linq" version="3.5.21022.801" targetFramework="net45" />
</packages>